.box{
    height: 600px;
    width: 300px;
    background-color: azure;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    text-align: centre;
    box-shadow: 0px 0px 0px purple;
    
}

img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    


}
h2{
    color: aqua;

}