body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.zRKQMwGqemn0taC1cX4kwAHaE8?pid=Api&P=0&h=180");
    background-size: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

input{
    padding: 8px;
    width: 200px;
    justify-content: center;
    align-content: center;
    align-items: center;
    

}
button{
    padding: 8px 15px;
    background: greenyellow;
    color: white;

}
li{
    margin: 8px;
    font-size: 20px;
    justify-content: center;
}