
body{
    font-family:'Times New Roman', Times, serif;
    background-color: beige;
    padding: 20px;

}

.title{
    text-align: center;
    margin-bottom: 10px;

}

.timetable{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

.timetable th,.timetable td{
    border: 1px solid black;
    padding: 12px;
    text-align: center;


}
.timetable th{
    border: 1px solid white;
    background-color: black;
    color: white;
}

.break{
    background-color: rgb(255, 145, 0);
    font-weight: 900;
}
.lunch{
    background-color: rgb(255, 145, 0);
    font-weight: 900;
}